/* @center grid
********************************************************************************************
********************************************************************************************/

.centerrow {
margin: 0;
width:105%;
overflow: hidden;
}

.centerthreecol,.centerfourcol,.centersixcol {
margin:0 0 0 0;
float: left;
min-height: 1px;
margin-bottom:30px !important;
}

.centerrow .centerthreecol {
width: 21.6%;
margin:0 3% 0 0;
overflow:hidden;
}

.centerrow .centerfourcol {
width: 29.75%;
margin:0 3% 0 0;
overflow:hidden;
}


.centerrow .centersixcol {
width: 46%;
margin:0 3% 0 0;
overflow:hidden;
}


/* @the 1140px grid
********************************************************************************************
********************************************************************************************/

.container,.container_alt{
width: 100%;
max-width: 1180px;
margin: 0 auto 0 auto;
padding:0 0;
overflow:hidden;
position:relative;
}

.container_alt{
overflow:visible;
padding:0 0;
max-width: 1180px;
}

.cont_inn{ overflow:hidden; padding:20px 20px 0 20px; margin:0; border-top:1px solid #ddd;}

.generalresp{
width: 1180px !important;
max-width: 1180px;
min-width: 1180px !important;
}

.generalresp-alt{
min-width: 1180px !important;
}

.onecol, .twocol, .threecol, .fourcol, .fivecol,.fifthcol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol {
margin-left:0;
float: left;
min-height: 1px;
overflow:hidden;
}

.twocol {
width: 10.75%;
margin-left:5%;
float:left;
}

.threecol {
width: 23.3%;
margin-left:2.2%;
float:left;
}

#footer .threecol {
width: 23%;
margin-left:2.6%;
margin-bottom:0px;
}

.fourcol {
width: 31.68%;
margin:0 0 0 0;
padding:0;
float:left;
position:relative;
}

.fifthcol {
width: 16%;
padding:0;
margin:0 0 0 4%;
float:left;
margin-bottom:40px;
}

.eightcol {
width: 65.2%;
padding-right:0;
padding-left:0;
margin:0 3% 0 0;
float:left;
}

.sixcol {
width:47%;
margin-left:2.8%;
}

.twelvecol {
width: 90%;
float: left;
}

object, embed {
max-width: 100%;
}



img {
	height: auto;
}

/* no-responsive specials */

.generalresp #header h1{ max-width:300px;}
.generalresp #header h1 img{ width:100%;}

.generalresp .shadow-inset2,
.generalresp a.sliderlink{
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}